.container {
    max-width: 1000px;
}

p {
    margin: 0;
    padding: 0;
}

.btn {
    padding: 5px;
    margin: 0;
}

.fff {
    padding: 2px 18px;
    background-color: #D70E2A;
}

.p-navbar-top {
    font-size: 14px;
}

.h1-intro-title {
    font-size: 38px;
    font-weight: 700;
}

.h3-title {
    font-size: 30px;
}

.p-text-card, .p-text-white-card {
    font-size: 16px;
    font-weight: 500;
    color: #000;
}

.yyy {
    background-color: #171717;
    padding: 30px 20px;
    border-radius: 5px;
}

.p-text-white-card {
    font-size: 14px;
    color: #fff;
}

hr {
    height: 2px;
}

.hr-linear, .hr-linear-red {
    border: 0;
    height: 2px;
    background-image: linear-gradient(to left, #E6E6E6 70%, #000 30%, #000 40%);
}

.hr-linear-red {
    background-image: linear-gradient(to right, #D70E2A 30%, #E6E6E6 10%, #E6E6E6 40%);
}

@media (max-width: 575.98px) {
    .p-text-card {
        font-size: 14px;
    }
}

@media (max-width: 767.98px) {
    .p-text-card {
        font-size: 14px;
    }
}